<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://unpkg.com/mvp.css">
        <title> Profile | Sample </title>

        <!--<link rel="stylesheet" href="/static/css/styles.css">-->
        <!--<script src="/static/js/main.js"> </script>-->
    </head>
    <body>
        <header>
            <img src="../public/images/logo.png" alt="logo">
        </header>
        <div class="sidebar">
            <div class="side-profile">
                <img src="<%=user.image_url%>" alt="user photo"/>
                    <p><%=user.name%></p>
                    <p><%=user.gmail%></p>
            </div>
            <ul> <!--ìœ ì € í”Œëžœ ëª©ë¡ function í•´ì•¼ í•¨-->
                <li> plan 1ðŸš”</li>
                <li> plan 2ðŸ›«</li>
        </div>
        <main>
            <div class="main-profile">
                <img src="<%=user.image_url%>" alt="user photo"/>
                <p><%=user.name%></p>
                <p><%=user.gmail%></p>
            </div>
                <button class="edit-button" type="button" onclick= "location.href ='http://localhost:4000/users/profile/edit'">ìˆ˜ì •í•˜ê¸°</button>
        </main>
            <footer>
                &copy; <%=new Date().getFullYear()%> Sample Project
            </footer>
    </body>
</html>

