<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--<link rel="stylesheet" href="https://unpkg.com/mvp.css">-->
		<link rel="stylesheet" href="/public/css/base.css">
		<link rel="stylesheet" href="/public/css/sidebar.css">
		<link rel="stylesheet" href="/public/css/header.css">
		<link rel="stylesheet" href="/public/css/footer.css">
        <link rel="stylesheet" href="/public/css/create-plan.css">
        
        <!--구글 아이콘-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="/public/css/icon.css">
        <!--JQuery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <!--날짜 선택기 jqeury-->
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        <script type="text/javascript" src="/public/js/date-range-picker.js"></script>
        <!--날짜선택기 끝-->
        
        <title> 새 계획 생성하기 | Sample </title>
    </head>
    <body class="container">
        <header>
            <div class="logo-box">
                <img src="/public/images/logo.png" alt="logo" class="logo">
            </div>
            </header>
            <div class="sidebar"> <!--사이드 바-->
                <div class="side-profile"> <!--프로필 사진 크기 맞춤을 위해 "photo-box" div 추가-->
                    <div class="photo-box"> <!--프로필 사진 크기 맞춤을 위해 사진에 "profile-img" class 추가-->
                        <img class="profile-img" src="<%=user.image_url%>" alt="user photo"/>
                    </div>
                    <!--프로필 내 정보들을 box로 묶기 위해 "user-info" div 추가-->
                    <div class="user-info">
                        <p class="side-user-name"><%=user.name%></p>
                        <p><%=user.gmail%></p>
                    </div>
                </div>
                <!--사이드바 메뉴구성 시작-->
                <div class="menu">
                    <!--메뉴마다 영역을 지정하고, 색깔 등 효과를 일괄적으로 입히기 위해 menu-name 클래스 부여-->
                    <div class="menu-name">
                        <span class="material-icons md-36">
                            account_circle
                            </span>
                            <span><a href="">마이페이지</a></span>
                    </div>
                    <div class="menu-name selected">
                        <span class="material-icons md-36">
                            create_new_folder</span>
                        <span><a href="/plans/create">새 계획 만들기</a></span>
                    </div>
                    <div class="menu-name group">
                        <div class="mygroup" id="group">
                            <span class="material-icons md-36 grid">
                                folder
                            </span>
                            <span >내 그룹</span>
                            
                        </div>
                        <!--세부메뉴의 영역을 지정하고, 색깔 등 효과를 일괄적으로 입히기 위해 menu-detail 클래스 부여-->
                        <div class="menu-detail" id="mygroup">
                            <ul>
                                <%totPlanTitles.forEach(function(title){ %>
                                <li><a href="/plans/<%=title['_id']%>" class="plan-title"><%=title['title']%></a></li>
                                <% })%>
                            </ul>
                        </div>
                    </div>
                    <div class="menu-name logout">
                        <span class="material-icons md-36">
                            logout
                            </span><a href="/users/logout">로그아웃</a>
                    </div>
                </div>
            </div>
        <main>
            <form method="POST" class="creator">
                <h1>
                    새 계획 만들기
                </h1>
                <div class="title-box">
                    <h2>여행 제목</h2>
                    <input type="text" name="title", placeholder="제목">
                </div>
                <div class="date-box">
                    <h2>여행 일정</h2>
                    <input type="text" name="dates", id="dates">
                </div>
                <input type="submit" value="생성하기" class="creat-btn">
            </form>
        </main>    
        <footer>
            &copy; 2021 Sample Project
        </footer>
        <script type="text/javascript" src="/public/js/menu-opener.js"></script>
    </body>
</html>