<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../../public/css/header.css">
        <link rel="stylesheet" href="../../public/css/sidebar.css">
        <link rel="stylesheet" href="../../public/css/base.css">
		<link rel="stylesheet" href="../../public/css/footer.css">
        
        <title> Edit Profile | Sample </title>
    </head>
    <body class="container">
        <header>
            <img src="../../public/images/logo.png" alt="logo">
        </header>
        <div class="sidebar"> <!--사이드 바-->
            <div class="side-profile"> <!--프로필 사진 크기 맞춤을 위해 "photo-box" div 추가-->
                <div class="photo-box"> <!--프로필 사진 크기 맞춤을 위해 사진에 "profile-img" class 추가-->
                    <img class="profile-img" src="<%=user.image_url%>" alt="user photo"/>
                </div>
                <!--프로필 내 정보들을 box로 묶기 위해 "user-info" div 추가-->
                <div class="user-info">
                    <p><%=user.name%></p>
                    <p><%=user.gmail%></p>
                </div>
            </div>
            <!--사이드바 메뉴구성 시작-->
            <div class="menu">
                <!--메뉴마다 영역을 지정하고, 색깔 등 효과를 일괄적으로 입히기 위해 menu-name 클래스 부여-->
                <div class="menu-name">
                    <span><a href="/users/<%=user._id%>">마이페이지</a></span>
                </div>
                <div class="menu-name">
                    <span>내 그룹</span>
                    <!--세부메뉴의 영역을 지정하고, 색깔 등 효과를 일괄적으로 입히기 위해 menu-detail 클래스 부여-->
                    <div class="menu-detail">
                        <ul>
                            <%totPlanTitles.forEach(function(title){%>
                            <li><a href="http://localhost:4000/plans/<%=title['_id']%>" class="plan-title"><%=title['title']%></a></li>
                            <% })%>
                        </ul>
                    </div>
                </div>
                <div class="menu-name">
                    <span><a href="/users/logout">로그아웃</a></span>
                </div>
            </div>
		</div>
        <!--메인 페이지--> 

        <main>
            <div class="main-profile">
                <form action="http://localhost:4000/users/<%=user._id%>/edit", mdthod="GET" id="edit-form">
                    <img src="<%=user.image_url%>" alt="user photo"/>
                    <input type="text", name="name", placeholder="이름", value="<%=user.name%>">
                    <span>gmail : <%=user.gmail%></span>
                    <input type="submit" value="수정하기">
                </form>
            </div>
        </main>

        <!--메인 페이지 끝-->
            <footer>
                &copy; 2021 Sample Project
            </footer>
    </body>
</html>