<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://unpkg.com/mvp.css">
        <title> Profile | Sample </title>
    </head>
    <body>
        <header>
            <img src="" alt="logo">
        </header>
        <div class="sidebar">
            <div class="side-profile">
                <img src="<%=user.image_url%>" alt="user photo"/>
                    <p><%=user.name%></p>
                    <p><%=user.gmail%></p>
            </div>
            <ul> <!--ìœ ì € í”Œëžœ ëª©ë¡ function í•´ì•¼ í•¨/ ì—¬ê¸°ë„ div ë¡œ ë¬¶ì„ê¹Œ..?-->
                <li> plan 1ðŸš”</li>
                <li> plan 2ðŸ›«</li>
        </div>
        <main>
            <div class="main-profile">
                <form action="", mdthod="POST">
                    <input type="url", name="image_url", placeholder="í”„ë¡œí•„ ì‚¬ì§„", value="<%=user.image_url%>">
                    <input type="text", name="name", placeholder="ë‹‰ë„¤ìž„", value="<%=user.name%>">
                    <p>gmail : <%=user.gmail%></p><!--ì§„íšŒìƒ‰ìœ¼ë¡œ í‘œì‹œ?-->
                    <input type="submit" value="ìˆ˜ì •í•˜ê¸°">
                </form>
            </div>
        </main>
            <footer>
                &copy; <%=new Date().getFullYear()%> Sample Project
            </footer>
    </body>
</html>