<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/public/css/header.css">
        <link rel="stylesheet" href="/public/css/sidebar.css">
        <link rel="stylesheet" href="/public/css/base.css">
		<link rel="stylesheet" href="/public/css/footer.css">
        <link rel="stylesheet" href="/public/css/edit-profile.css">
        
        <!--구글 아이콘-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="/public/css/icon.css">
        <!--구글 웹폰트-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
        <!--JQuery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

        <title> Edit Profile | Sample </title>
    </head>
    <body class="container">
        <header>
            <div class="logo-box">
                <img src="/public/images/logo.png" alt="logo" class="logo">
            </div>
        </header>
        <div class="sidebar"> <!--사이드 바-->
            <div class="side-profile"> <!--프로필 사진 크기 맞춤을 위해 "photo-box" div 추가-->
                <div class="photo-box"> <!--프로필 사진 크기 맞춤을 위해 사진에 "profile-img" class 추가-->
                    <img class="profile-img" src="<%=user.image_url%>" alt="user photo"/>
                </div>
                <!--프로필 내 정보들을 box로 묶기 위해 "user-info" div 추가-->
                <div class="user-info">
                    <p class="side-user-name"><%=user.name%></p>
                    <p><%=user.gmail%></p>
                </div>
            </div>
            <!--사이드바 메뉴구성 시작-->
            <div class="menu">
                <!--메뉴마다 영역을 지정하고, 색깔 등 효과를 일괄적으로 입히기 위해 menu-name 클래스 부여-->
                <div class="menu-name selected">
                    <span class="material-icons md-36">
                        account_circle
                        </span>
                        <span><a href="">마이페이지</a></span>
                </div>
                <div class="menu-name">
                    <span class="material-icons md-36">
                        create_new_folder</span>
                    <span><a href="/plans/create">새 계획 만들기</a></span>
                </div>
                <div class="menu-name group">
                    <div class="mygroup" id="group">
                        <span class="material-icons md-36 grid">
                            folder
                        </span>
                        <span >내 그룹</span>
                        
                    </div>
                    <!--세부메뉴의 영역을 지정하고, 색깔 등 효과를 일괄적으로 입히기 위해 menu-detail 클래스 부여-->
                    <div class="menu-detail" id="mygroup">
                        <ul>
                            <%totPlanTitles.forEach(function(title){ %>
                            <li><a href="/plans/<%=title['_id']%>" class="plan-title"><%=title['title']%></a></li>
                            <% })%>
                        </ul>
                    </div>
                </div>
                <div class="menu-name logout">
                    <span class="material-icons md-36">
                        logout
                        </span><a href="/users/logout">로그아웃</a>
                </div>
            </div>
		</div>
        <!--메인 페이지--> 

        <main>
            <div class="edit-profile-box">
                <div class="deco">
                    <div class="box"></div>
                    <h2 class="pf-title">
                        Profile
                    </h2>
                </div>
                <form method="POST" id="edit-form">
                    <div class="main-content">
                        <div class="profile-box">
                            <img src="<%=user.image_url%>" class="profile-photo" alt="user photo">
                        </div>
                        <div class="info-box">
                            <h3>닉네임</h3>
                            <input type="text", name="name", placeholder="이름", value="<%=user.name%>" class="nickname-edit">
                        </div>
                        <div class="info-box">
                            <h3>이메일</h3>
                            <span class="email-edit"><%=user.gmail%></span>
                        </div>
                            <input type="submit" value="수정하기" class="edit-button">
                    </div>
                </form>
            </div>
        </main>

        <!--메인 페이지 끝-->
            <footer>
                &copy; <%=new Date().getFullYear()%> Sample Project
            </footer>
        <script type="text/javascript" src="/public/js/menu-opener.js"></script>
    </body>
</html>