<!DOCTYPE html>
    <html lang="en">
        <head>
        <meta charset="UTF-8">

        <link rel="stylesheet" href="kanban.css">
        <link rel="stylesheet" href="main-content.css">
        <link rel="stylesheet" href="chatting.css">
        <link rel="stylesheet" href="frame.css">
        <link rel="stylesheet" href="icon.css">

        <!--구글 웹폰트-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=<%=map_cl%>"></script>

        
        <div id="plan-id" hidden><%=totPlan._id%></div>
        <div id="user-name" hidden><%=user.name%></div>
        <div id="user-image" hidden><%=user.image_url%></div>
        
        <title> Edit <%=totPlan.title%> | Sample </title>
    </head>
<body class="container">
    <header>
        <div class="plan-title">
            <%=totPlan.title%>
        </div>
        <div class="participant"> <!--notattend-->
        <%totPlan.participants.forEach(function(participant){%>
            <div><%=participant.name%></div>
        <%})%>
        </div>

        <div class="plan-date">
            출발일 : <span><%="2021-11-23"%></span>
            도착일 : <span><%="2021-11-25"%></span>
        </div>
    </header>

    <main class="main-content">
        <div class="recommandation">
            <button type="button" class="region-select"><span class="material-icons md-2">map</span>
                권역 선택</button>
            <div class="recommandation__categories">
                <div><span class="material-icons">view_module</span>전체</div>
                <div><span class="material-icons">landscape</span>관광</div>
                <div><span class="material-icons">flatware</span>식당</div>
                <div><span class="material-icons">local_cafe</span>카페</div>
            </div>

            <ul class="recommandation__list">
                <li>
                    <img src="userimg.jpg", alt="추천 장소">
                    <div>
                        <div>
                            <span>관광지명</span>
                            <button class="more-btn"><span class="material-icons">open_in_new</span>더보기</button>
                        </div>
                        <div class="star-rating">
                            <span>별점: </span>
                            <span class="star"><span class="rating"></span></span>
                        </div>
                        <div>
                            <span>'프로젝트'의 평가: </span><span>A</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <!--place api 사용한 장소 검색 리스트(키워드 검색)-->

        <div class="search-list">
            <form id="search-form">
                <input type="text", name="search-input", placeholder="검색어를 입력하세요", required>
                <button class="search-btn"><span class="material-icons">
                    search
                    </span>
                    </button>
            </form>
            <ul>
                <!--
                <li draggable ="true">
                    <span>봄날</span>
                    <button class="more-btn">더보기</button>
                    <p>제주특별자치도 제주시 애월읍 애월로 27-1</p>
                </li>
                -->
            </ul>
        </div>
        <div id="map"></div>

        <div class="kanban">
            <!--
            <div class="kanban__column">
                <div class="kanban__column-title">Not started</div>
                    <div class="kanban__items">
                        <div class="kanban__item" draggable="true">
                            <div class="kanban__item-name">place 1</div>
                            <div class="kanban__item-road_adr">도로명주소 1</div></div>
                            <button>삭제</button>
                            <div class="kanban__dropzone"></div>
                        </div>
                </div>
            </div>
            -->
        </div>

        <button id="popup"><span class="material-icons-outlined">
            mode_comment
            </span>채팅</button>

        <!--chatting으로 모든 챗박스 묶고, 추가 클래스로 개별 스타일 부여-->
        <div class="chatting" id="chatArea">
            <div id="chatAreaheader">
                <button>➖</button>
            </div>
            <div class="chat-box">
            <!--
                <div class="chat system">
                    <div class="chat-message">
                        오정환님이 입장하셨습니다.
                    </div>
                </div>
                <div class="chat incoming">
                    <div class="chat-image">
                        <img src="userimg.jpg">
                    </div>
                    <div class="chat-message">gdgd
                    </div>
                </div>
                <div class="chat outgoing">
                    <div class="chat-message">gdgd
                    </div>
                </div>
                <div class="chat system">
                    <div class="chat-message">
                        오정환님이 퇴장하셨습니다.
                    </div>
                </div>
                -->
            </div>
            <div class="send-box">
                <form name="formname">
                    <textarea type="text" name="chatting-input", class="chatting-input" id ="form"placeholder="메시지 전송하기", required></textarea>
                    <input type="submit", value="전송" class="send-message">
                </form>
            </div>
        </div>


        </main>
    </body>
    <script type="module" src="/public/js/edit-plan/Map.js"></script>
    <script type="module" src="/public/js/edit-plan/Message.js"></script>
    <script type="module" src="/public/js/edit-plan/Kanban.js"></script>
    <script type="module" src="/public/js/edit-plan/chat.js"></script>
    <script type="module" src="/public/js/edit-plan/textarea.js"></script>
    <script type="module" src="/public/js/edit-plan/RecList.js"></script>
    <script type="module" src="/public/js/edit-plan/communicate.js"></script>
    
</html>
