<!DOCTYPE html>
    <html lang="en">
        <head>
        <meta charset="UTF-8">

        <link rel="stylesheet" href="/public/css/kanban.css">
        <link rel="stylesheet" href="/public/css/main-content.css">
        <link rel="stylesheet" href="/public/css/chatting.css">
        <link rel="stylesheet" href="/public/css/frame.css">
        <link rel="stylesheet" href="/public/css/icon.css">
        <link rel="stylesheet" href="/public/css/region-select.css">

        <!--구글 웹폰트-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=<%=map_cl%>"></script>

        <div id="plan-id" hidden><%=totPlan._id%></div>
        <div id="user-name" hidden><%=user.name%></div>
        <div id="user-image" hidden><%=user.image_url%></div>
        <div id="user-id" hidden><%=user._id%></div>

        <title> Edit <%=totPlan.title%> | JEJU'S </title>
    </head>
<body class="container">
    <div class="region-place" id="regionplace">
        <span class="material-icons region-close md-4">
            close
            </span>
        <div class="jejumap">
            <img src="/public/images/jejumap.png">
            <div>
                <img src="/public/images/jeju-south.png" class="jeju-region south" alt="남부" data-icon="icon-south">
                <img src="/public/images/jeju-west.png" class="jeju-region west" alt="서부" data-icon="icon-west">
                <img src="/public/images/jeju-whole-hover.png" class="jeju-region jj-whole-hover" alt="전체" data-icon="icon-jeju-whole">
                <img src="/public/images/jeju-whole.png" class="jeju-region jj-whole">
                <img src="/public/images/seongsan-wudo.png" class="jeju-region sswd" alt="성산우도" data-icon="icon-sswd">
                <img src="/public/images/north-east.png" class="jeju-region ne" alt="북동부" data-icon="icon-ne">
                <img src="/public/images/jeju.png" class="jeju-region jj" alt="제주" data-icon="icon-jeju">
            </div>
        </div>
    </div>
    <header>
        <div class="logo-box">
            <a href="/users/<%=user._id%>"><img src="/public/images/logo.png" alt="logo" class="logo"></a>
        </div>
        <div class="plan-title">
            <%=totPlan.title%>
        </div>
        <div class="participant" data-admin= "<%=totPlan.admin['_id'].toString()%>" > <!--notattend-->
            <!--
            <%totPlan.participants.forEach(function(participant){%>
                <div><img src="<%=participant.image_url%>" alt="user-image" data-id="<%=participant._id%>" class="hover notattend">
                    <div class="participant-info">
                        <span>
                        <%=participant.name%>
                        <%if(participant._id.toString() === totPlan.admin["_id"].toString()){%>
                            👑
                        <%}%></span>
                    </div>
                </div>
            <%})%>
            -->
        </div>

        <button id="info"><span class="material-icons md-25">

            help_outline
        </span>
        </button>
        <button id="save">저장</button>
    </header>

    <main class="main-content">

        <div class="recommandation">
        <div class="dragdrop-info" style="display: none;">
            <span>이곳은 JEJU'S가 추천하는 관광지입니다. <br>먼저 권역을 선택하고, 관광/식당/카페 중<br> 카테고리를 골라서 추천받을 수 있습니다. <br><br>마음에 드는 관광지를 끌어서<br>맨 오른쪽 공간에 넣어보세요 !
            </span>
        </div>
            <button type="button" id="regionbtn">
                <span class="material-icons md-2 default">map</span>
                <img style="display : none">
                <span id="region">권역 선택</span>
            </button>
            <div class="recommandation__categories">
                <div class="category" data-category ="전체">
                    <span class="material-icons">view_module</span>
                    <span class="category-name">전체</span>
                </div>
                <div class="category" data-category ="관광">
                    <span class="material-icons">landscape</span>
                    <span class="category-name">관광</span>
                </div>
                <div class="category" data-category ="식당">
                    <span class="material-icons">flatware</span>
                    <span class="category-name">식당</span>
                </div>
                <div class="category" data-category ="카페">
                    <span class="material-icons">local_cafe</span>
                    <span class="category-name">카페</span>
                </div>
            </div>

            <ul class="recommandation__list">
                <!--
                <li>
                    <img src="", alt="추천 장소">
                    <div>
                        <div>
                            <span class="reco-title">관광지명</span>
                            <button class="more-btn"><span class="material-icons">open_in_new</span></button>
                        </div>
                        <div class="star-rating">
                            <span>별점: </span>
                            <span class="star"><span class="rating"></span></span>
                        </div>
                        <div>
                            <span>'프로젝트'의 평가: </span><span>A</span>
                        </div>
                    </div>
                </li>
                -->
            </ul>
        </div>

        <!--place api 사용한 장소 검색 리스트(키워드 검색)-->

        <div class="search-list">
            <div class="dragdrop-info" style="
  display: none;">
                <span>이곳은 이용자분들이 원하는 곳을<br>검색하는 공간입니다.<br>검색 결과는 15개 까지 나오며,<br>정확한 검색을 위해 검색어를 <br>자세하게 입력해 주세요.<br><br>원하는 관광지를 끌어서<br>맨 오른쪽 공간에 넣어보세요 !</span>
            </div>
            <form id="search-form">
                <input type="text", name="search-input", placeholder="검색어를 입력하세요", required>
                <button class="search-btn">
                    <span class="material-icons">
                    search
                    </span>
                </button>
                <button class="clear-btn">
                    <span class="material-icons">
                    refresh
                    </span>
                </button>
            </form>
            <ul>
                <!--
                <li draggable ="true">
                    <span>봄날</span>
                    <button class="more-btn"></button>
                    <p>제주특별자치도 제주시 애월읍 애월로 27-1</p>
                </li>
                -->
            </ul>
        </div>

        <div id="map"></div>

        <div class="kanban">
        <div class="dragdrop-info" style="
  display: none;">
            <span>이곳은 이용자분이 만들어가는<br>플래너 공간입니다.<br>각 Day별로 지도 좌측의 여행지들을<br>끌어다 놓을 수 있습니다.<br>플래너 공간 내에서<br>끌어서 순서를 바꿀 수도 있고,<br>Day별 이동도 가능합니다.</span>
        </div>
            <!--
            <div class="kanban__column">
                <div class="kanban__column-title">Not started</div>
                    <div class="kanban__items">
                        <div class="kanban__item" draggable="true">
                            <div class="kanban__item-name">place 1</div>
                            <div class="kanban__item-road_adr">도로명주소 1</div></div>
                            <button>삭제</button>
                            <div class="kanban__dropzone"></div>
                        </div>
                </div>
            </div>
            -->
        </div>

        <button id="popup"><span class="material-icons-outlined">
            mode_comment
            </span></button>

        <!--chatting으로 모든 챗박스 묶고, 추가 클래스로 개별 스타일 부여-->
        <div class="chatting" id="chatArea">
            <div id="chatAreaheader">
                <button><span class="material-icons">
                    minimize
                    </span></button>
            </div>
            <div class="chat-box">
            <!--
                <div class="chat system">
                    <div class="chat-message">
                        오정환님이 입장하셨습니다.
                    </div>
                </div>
                <div class="chat incoming">
                    <div class="chat-image">
                        <img src="userimg.jpg">
                    </div>
                    <div class="chat-message">gdgd
                    </div>
                </div>
                <div class="chat outgoing">
                    <div class="chat-message">gdgd
                    </div>
                </div>
                <div class="chat system">
                    <div class="chat-message">
                        오정환님이 퇴장하셨습니다.
                    </div>
                </div>
                -->
            </div>
            <div class="send-box">
                <form name="formname">
                    <textarea type="text" name="chatting-input", class="chatting-input" id ="form"placeholder="메시지 전송하기", required></textarea>
                    <input type="submit", value="전송" class="send-message">
                </form>
            </div>
        </div>


        </main>
    </body>
    <script type="module" src="/public/js/edit-plan/Map.js"></script>

    <script type="module" src="/public/js/edit-plan/Message.js"></script>
    <script type="module" src="/public/js/edit-plan/Kanban.js"></script>
    <script type="module" src="/public/js/edit-plan/chat.js"></script>
    <script type="module" src="/public/js/edit-plan/textarea.js"></script>
    <script type="module" src="/public/js/edit-plan/RecList.js"></script>
    <script type="module" src="/public/js/edit-plan/communicate.js"></script>
    <script type="module" src="/public/js/edit-plan/info.js"></script>

</html>
