<!DOCTYPE html>
<html>
    <head>
        <!--컬러,폰트, 로고 빼고 작업 완료된 듯..?-->
        <meta charset = "UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/public/css/header.css">
        <link rel="stylesheet" href="/public/css/sidebar.css">
        <link rel="stylesheet" href="/public/css/base.css">
		<link rel="stylesheet" href="/public/css/footer.css">
		<link rel="stylesheet" href="/public/css/see-plan.css">
        <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=<%=map_cl%>"></script>
        
        <!--구글 아이콘-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="/public/css/icon.css">
        <!--구글 웹폰트-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
        <!--JQuery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <title> <%=totPlan.title%> | Sample </title>
    </head>
    <body class="container">
        <div class="inv-area">
            <form class="email-form" method="post">
                <div>
                    <span>그룹원 초대하기</span>
                    <input type="reset" value="❌">
                </div>
                <input type="email", placeholder="gmail을 입력하세요" name="gmail" required>
                <input type="submit" value="초대하기">
            </form>
        </div>
        <header>
            <div class="logo-box">
                <a href="/users/<%=user._id%>"><img src="/public/images/logo.png" alt="logo" class="logo"></a>
            </div>
        </header>
        <div class="sidebar"> <!--사이드 바-->
            <div class="side-profile"> <!--프로필 사진 크기 맞춤을 위해 "photo-box" div 추가-->
                <div class="photo-box"> <!--프로필 사진 크기 맞춤을 위해 사진에 "profile-img" class 추가-->
                    <img class="profile-img" src="<%=user.image_url%>" alt="user photo"/>
                </div>
                <!--프로필 내 정보들을 box로 묶기 위해 "user-info" div 추가-->
                <div class="user-info">
                    <p class="side-user-name"><%=user.name%></p>
                    <p><%=user.gmail%></p>
                </div>
            </div>
            <!--사이드바 메뉴구성 시작-->
            <div class="menu">
                <!--메뉴마다 영역을 지정하고, 색깔 등 효과를 일괄적으로 입히기 위해 menu-name 클래스 부여-->
                <div class="menu-name">
                    <span class="material-icons md-36">
                        account_circle
                        </span>
                        <span><a href="/users/<%=user._id%>">마이페이지</a></span>
                </div>
                <div class="menu-name">
                    <span class="material-icons md-36">
                        create_new_folder</span>
                    <span><a href="/plans/create">새 계획 만들기</a></span>
                </div>
                <div class="menu-name group selected" id="sidebar-group">
                    <div class="mygroup"  id="group">
                        <span class="material-icons md-36 grid">
                            folder
                        </span>
                        <span >내 그룹</span>

                    </div>
                    <!--세부메뉴의 영역을 지정하고, 색깔 등 효과를 일괄적으로 입히기 위해 menu-detail 클래스 부여-->
                    <div class="menu-detail" id="mygroup">
                        <ul>
                            <%totPlanTitles.forEach(function(title){ %>
                            <li><a href="/plans/<%=title['_id']%>" class="side-plan-title"><%=title['title']%></a></li>
                            <% })%>
                        </ul>
                    </div>
                </div>
                <div class="menu-name logout">
                    <span class="material-icons md-36">
                        logout
                        </span><a href="/users/logout">로그아웃</a>
                </div>
            </div>
		</div>
        <!--메인 페이지-->
                    <!--데이 버튼이 메인에 넣을 시 메인컨텐츠와 겹치게 표시되어 따로 daybutton으로 분리하였고, 요소별 영역 부여를 위해 day-button 클래스를 입힘-->
        <div class="day-button"><!--id 로 해야 하나?-->
            <div class="btn" id="info-btn"><a>info</a></div>
            <%let day%>
            <% for(day = 0; day < totPlan.day_plan.length; day++){ %>
            <!--day button 이름 바꾸기-->
            <div class="btn">day <%=day + 1%></div>
            <%}%>
        </div>
        <main>
            <!--자바스크립트로 날짜별 div 생성 후 버튼에 해당되는 날짜의 div 보여줘야 함 / db 바꾸면 달라질 수 있음-->
            <!--데이버튼 클릭마다 다른 내용을 보여주어야 함. 전체 페이지인 whole-plan과 day-plan으로 전체페이지와 세부내용 페이지를 분리해서 작성했음. 각 css의 display를 버튼 클릭에 따라 none <->grid 로 변경하는 작업 필요.-->
            <div class="whole-plan" data-planid="<%=totPlan._id%>">
                <div class="plan-title">
                    <h1><%=totPlan.title%></h1>
                    <%if(user._id == totPlan.admin["_id"]){%>
                        <button type="button" class="del-btn"><span class="material-icons md-2">
                            delete
                            </span><span>삭제</span>
                            </button>
                    <%}%>
                </div>
                <div class="plan-info">
                    <div class="date">
                        <div>
                            <span>
                                <%=totPlan.day_plan[0].date.getFullYear()%>년 
                                <%=totPlan.day_plan[0].date.getMonth() + 1%>월 
                                <%=totPlan.day_plan[0].date.getDate()%>일 
                            </span>
                        </div>
                            /
                        <div>
                            <span>
                                <%=totPlan.day_plan[day-1].date.getFullYear()%>년
                                <%=totPlan.day_plan[day-1].date.getMonth() + 1%>년
                                <%=totPlan.day_plan[day-1].date.getDate()%>일
                            </span>
                        </div>
                    </div>
                <!--total-map(전체 경로 마커) 처리 부분-->
                    <div id="total-map" data-dayplan="<%=JSON.stringify(totPlan.day_plan)%>"></div>
                    <h2>참여자</h2>
                    <div class="participants">
                        <%totPlan.participants.forEach(function(participant){%>
                            <div class="user">
                                <div class="userimg">
                                    <img class="profile-img" src="<%=participant.image_url%>" alt="user photo"/>
                                </div>
                                    <%=participant.name%>
                                    <%if(participant._id.toString() === totPlan.admin["_id"].toString()){%>
                                        👑
                                    <%}%>
                            </div>
                        <%})%>
                    </div>
                    <div class="btns">
                        <div class="plan-buttons">
                            <button type="button" class="edit-btn"><span class="material-icons">
                                edit
                                </span>
                                편집</button>
                            <button class="inv-btn"><span class="material-icons">
                                send
                                </span>
                                초대</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--day plan-->
            <%for(day=0; day < totPlan.day_plan.length; day++){%>
            <div class="day-plan">
                <h1 class="plan-day">day <%=day + 1%></h1>
                
                <div id="day-map<%=day + 1%>" data-dayindex="<%=day%>", class="day-map"></div>

                <div class="place-object"><!--class명 다시 바꾸면 좋겠다-->
                    <%if(totPlan.day_plan[day]['place'].length === 0){%>
                    <span>아직 세부 계획이 없어요.. <a class="edit-link">새 계획</a>을 추가해보세요!</span>
                    <%}%>
                    <% for(let placeIndex = 0; placeIndex < totPlan.day_plan[day]['place'].length; placeIndex++){ %>
                        <div class="p-obj">
                            <h3 class="obj-name"><%=totPlan.day_plan[day]['place'][placeIndex]['name']%><button class="more-btn"><span class="material-icons">open_in_new</span></button></h3>
                            <p class="obj-adress"><%=totPlan.day_plan[day]['place'][placeIndex]['road_adr']%></p>
                        </div>
                    <%}%>
                </div>
            </div>
            <%}%>
        </main>
            <footer>
                &copy; <%=new Date().getFullYear()%> Sample Project
            </footer>
    </body>
    <script type="text/javascript" src="/public/js/see-plan.js"></script>
    <script type="text/javascript" src="/public/js/menu-opener.js"></script>
    <script type="module" src="/public/js/sidebar.js"></script>
</html>
